@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.main-container {
	background-color: #8eacbd;
	color: white;
}

@media (min-width: 769px) {
	.upper-container {
		height: 70vh;
		background-image: linear-gradient(
			50deg,
			rgb(223 185 201) 30%,
			rgb(233, 120, 129) 70%
		);
	}
}

.upper-container__container-title {
	margin: 80px 0;
}

@media (min-width: 769px) {
	.upper-container__container-title {
		margin: 0;
		padding: 0 45px;
		min-height: 80%;
		display: flex;
		align-items: center;
	}
}

.upper-container__title {
	text-align: center;
	font-size: 48px;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

@media (min-width: 769px) {
	.upper-container__title {
		text-align: left;
		text-shadow: 0px 1px 4px rgb(0 0 0 / 50%);
	}
}

.section-services {
	padding: 70px 30px;
}

@media (min-width: 769px) {
	.section-services {
		padding: 100px 60px;
	}
}

.section-services__container-card {
	margin: 0 auto;
	max-width: 500px;
}

@media (min-width: 769px) {
	.section-services__container-card {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 6%;
		max-width: 100%;
	}
}

.section-services__card {
	margin-bottom: 100px;
	border-radius: 10px;
	background-color: #54759f;
}

@media (min-width: 769px) {
	.section-services__card {
		margin-bottom: 0px;
		min-height: 450px;
		margin-bottom: 100px;
	}
}

.section-services__card-img {
	width: 100%;
	height: 170px;
	object-fit: cover;
	object-position: center;
	border-radius: 10px 10px 0 0;
}

.section-services__subcontainer {
	padding: 10px;
	display: grid;
	grid-template-rows: 90px 100px;
	gap: 10px;
}

.section-services__card-title {
	font-size: 24px;
	margin: 15px 0 0p;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
}

.section-services__card-description {
	text-align: center;
	font-size: 16px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	margin: 0;
}

.header__desktop-link:hover {
	color: black;
}

.section-services__card:hover {
	box-shadow: 12px 12px 32px 15px rgb(0 0 0 / 50%);
}
